@import "/src/scss/variables";

.mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
    border-radius: 100px;
    border-color: black;
 }
 
 ::ng-deep .mat-button-toggle-button {
    font-size: 14px !important;
    font-weight: 500 !important;
    width: 118px !important;
 
 }
 
 ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    line-height: 40px !important;
    // padding: 0 12px
 }
 
 .mat-button-toggle-group-appearance-standard.mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
    background-color: $background !important;
 }
 
 .mat-button-toggle-appearance-standard.mat-button-toggle-checked{
    background-color: $background-1 !important;
 }