<div class="p-5">

    
    <h3 class="text-2xl pb-4">Configure Claims Table</h3>
    
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Default Sort</mat-label>
            <mat-select value="1" >
              <mat-option value="1">
                Created
              </mat-option>
            </mat-select>
          </mat-form-field>
    

        <div class="flex gap-3">

            <div class="border-gray-300 border border-solid rounded-md w-96 p-3">
                    <h3 class="text-md font-medium">Included Columns</h3>
                    <mat-list role="list">

                        <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                            <div class="flex w-full items-center gap-2">
                                <mat-icon>drag_handle</mat-icon>
                                <span class="flex-1 text-base">Claim ID</span>
                                <button mat-icon-button><mat-icon>close</mat-icon></button>
                            </div>
                        </mat-list-item>

                        <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                            <div class="flex w-full items-center gap-2">
                                <mat-icon>drag_handle</mat-icon>
                                <span class="flex-1 text-base">Customer</span>
                                <button mat-icon-button><mat-icon>close</mat-icon></button>
                            </div>
                        </mat-list-item>
                        

                        <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                            <div class="flex w-full items-center gap-2">
                                <mat-icon>drag_handle</mat-icon>
                                <span class="flex-1 text-base">Carrier</span>
                                <button mat-icon-button><mat-icon>close</mat-icon></button>
                            </div>
                        </mat-list-item>
                        

                        <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                            <div class="flex w-full items-center gap-2">
                                <mat-icon>drag_handle</mat-icon>
                                <span class="flex-1 text-base">Age</span>
                                <button mat-icon-button><mat-icon>close</mat-icon></button>
                            </div>
                        </mat-list-item>
                        
                        <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                            <div class="flex w-full items-center gap-2">
                                <mat-icon>drag_handle</mat-icon>
                                <span class="flex-1 text-base">Claim ID</span>
                                <button mat-icon-button><mat-icon>close</mat-icon></button>
                            </div>
                        </mat-list-item>
                        

                        <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                            <div class="flex w-full items-center gap-2">
                                <mat-icon>drag_handle</mat-icon>
                                <span class="flex-1 text-base">Amount</span>
                                <button mat-icon-button><mat-icon>close</mat-icon></button>
                            </div>
                        </mat-list-item>
                        
                        <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                            <div class="flex w-full items-center gap-2">
                                <mat-icon>drag_handle</mat-icon>
                                <span class="flex-1 text-base">Status</span>
                                <button mat-icon-button><mat-icon>close</mat-icon></button>
                            </div>
                        </mat-list-item>
                        
                    </mat-list>

                    
                    
            </div>

            <div class="border-gray-300 border border-solid rounded-md w-96 p-3">
                <h3 class="text-md font-medium">Included Columns</h3>
                <mat-list role="list">

                    <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                        <div class="flex w-full items-center gap-2">
                            <mat-icon>drag_handle</mat-icon>
                            <span class="flex-1 text-base">Last Updated</span>
                            <button mat-icon-button><mat-icon>close</mat-icon></button>
                        </div>
                    </mat-list-item>

                    <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                        <div class="flex w-full items-center gap-2">
                            <mat-icon>drag_handle</mat-icon>
                            <span class="flex-1 text-base">Shipper</span>
                            <button mat-icon-button><mat-icon>close</mat-icon></button>
                        </div>
                    </mat-list-item>
                    

                    <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                        <div class="flex w-full items-center gap-2">
                            <mat-icon>drag_handle</mat-icon>
                            <span class="flex-1 text-base">Consignee</span>
                            <button mat-icon-button><mat-icon>close</mat-icon></button>
                        </div>
                    </mat-list-item>
                    

                    <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                        <div class="flex w-full items-center gap-2">
                            <mat-icon>drag_handle</mat-icon>
                            <span class="flex-1 text-base">Insurace</span>
                            <button mat-icon-button><mat-icon>close</mat-icon></button>
                        </div>
                    </mat-list-item>
                    
                    <mat-list-item role="listitem" class="border-b-2 border-gray-200 border-solid">
                        <div class="flex w-full items-center gap-2">
                            <mat-icon>drag_handle</mat-icon>
                            <span class="flex-1 text-base">Last Note</span>
                            <button mat-icon-button><mat-icon>close</mat-icon></button>
                        </div>
                    </mat-list-item>
                    

                    
                </mat-list>

                
                
            </div>

        </div>
          
        <div class="flex justify-end gap-1 mt-5">
            <button mat-button color="primary" mat-dialog-close>Cancel</button>
            <button mat-button color="primary" [mat-dialog-close]="true">Save</button>
        </div>
    
    </div>

    


</div>