<div class="flex gap-3">

  <div class="flex-1">
    <mat-card class="mat-info">
      <div class="flex w-full items-end justify-between p-3 m-auto">
        <div class="w-full">

          <div class="font-medium text-sm flex  items-end justify-between w-full">
            <span>
              Claim Count
            </span>
            <mat-icon class="font-medium text-sm w-2">launch</mat-icon>
          </div>
          <p class="text-3xl m-0">10</p>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="flex-1">
    <mat-card class="mat-info">
      <div class="p-3 ">
        <p class=" font-medium text-sm">Total Claim Amount</p>
        <p class="text-3xl m-0"> <span class="text-xs">$</span> 3,123,028</p>
      </div>
    </mat-card>
  </div>

  <div class="flex-1">
    <mat-card class="mat-info">
      <div class="p-3 ">
        <p class=" font-medium text-sm">Money Owed</p>
        <p class="text-3xl m-0"> <span class="text-xs">$</span> 3,123,028</p>
      </div>
    </mat-card>
  </div>

</div>
