<!-- <form [formGroup]="myForm" > -->
<div class="p-6 w-[700px]">

    <h2 class="text-2xl mb-6">New User</h2>


    <div class="grid grid-cols-2 gap-8 gap-y-6 mb-8 ">
        <app-input label="Name" placeholder="John Contact" class="" ></app-input>
        <mat-checkbox class="example-margin">Limited Access</mat-checkbox>
        <app-input label="Address Line 1" placeholder="123 Example St" class=""  ></app-input>
        <app-input label="Address Line 2" placeholder="Office 1" class=""  ></app-input>
        <app-input label="City / State / Zipcode" placeholder="New York, NY 11111" class=""  ></app-input>
        <app-input label="Phone" placeholder="8888888888" class=""  ></app-input>
    </div>

    <mat-divider ></mat-divider>

    <h3 class="font-medium mb-4 mt-8">Login Information</h3>

    <div class="grid grid-cols-2 gap-x-8 gap-y-4">
        <app-input label="User Email" placeholder="john@example.com" class=""  ></app-input>
        <div></div>
        <app-input label="Password" placeholder="******" class=""  ></app-input>
        <app-input label="Confirm Password" placeholder="******" class=""  ></app-input>
    </div>

    <div class="flex justify-end gap-2 mt-4">
        <link-button text="Cancel" [mat-dialog-close]></link-button>
        <link-button text="Create" [mat-dialog-close]="true"></link-button>
    </div>

</div>

<!-- </form> -->