
<div class="flex h-dvh w-dvw items-center justify-center background">

    <div  class="bg-white p-5 rounded-md">

        <!-- img -->
        <img src="assets/logo transparente.png" class="w-36 pb-5">
        
        <div class="">
            <!-- UserName -->
            <mat-form-field appearance="outline" class="w-80">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" type="email" />
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
        </div>

        <div>
            <!-- input -->
            <mat-form-field appearance="outline" class="w-80">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" />
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>

        <div class="flex justify-end gap-2">
            <!-- buttons -->

            <button mat-button color="primary"><div class="text-xs text-secondary font-medium" >Reset Password</div> </button>
            
            <primary-button text="Log In"></primary-button>

        </div>

    </div>

</div>