<div class="p-6">

    <h2 class="text-2xl mb-4">{{title}}</h2>

    <div class="flex gap-4 w-[380px]">
        <mat-form-field appearance="outline" color="primary" class="max-h-40 w-full">
            <mat-label>{{label}}</mat-label>
            <input matInput type="text" [placeholder]="label" [(ngModel)]="inputValue"/>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <mat-form-field  appearance="outline" class="w-20 rounded-lg" *ngIf="showColorSelect">
            <mat-select value="">
                <mat-option value="" selected >
                    <mat-icon class="text-sm pr-0 text-center text-green-200">brightness_1</mat-icon>
                </mat-option>
                <mat-option value=""  >
                    <mat-icon class="text-sm pr-0 text-center text-purple-200">brightness_1</mat-icon>
                </mat-option>
                <mat-option value=""  >
                    <mat-icon class="text-sm pr-0 text-center text-red-300">brightness_1</mat-icon>
                </mat-option>
                <mat-option value=""  >
                    <mat-icon class="text-sm pr-0 text-center text-blue-300">brightness_1</mat-icon>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="flex justify-end gap-2">
        <link-button text="Cancel" (click)="close()"></link-button>
        <primary-button text="Save" (click)="save()"></primary-button>
    </div>

</div>
