.three-per-padding {
    padding-top: 3%
}

.three-per-padding-hover {
    padding-top: 1.5%
}

.document-category-button-visibile {
    visibility: visible;
}

.document-category-button-hidden {
    visibility: hidden;
}