<div class="flex flex-col gap-8">

  <!-- Carrier Creation Panel -->
  <app-panel-outlined *ngIf="isCreatingCarrier()">
    <div class="p-2">
      
      <p class="text-sm font-medium mb-4  ">Carrier</p>

      <div class="grid grid-cols-3 gap-8">
        <app-input label="Carrier Code / SCAC"></app-input>
        <app-input label="Carrier Name"></app-input>
        <app-select label="Mode" [options]="[{value:'LTL',text:'LTL'}, {value:'TL',text:'TL'}]"></app-select>

        <app-input label="Address"></app-input>
        <app-input label="Phone"></app-input>
        <app-input label="Fax"></app-input>

        <app-input label="Email Address"></app-input>
        <app-input label="Website"></app-input>
      </div>

      <div class="flex justify-end">
        <link-button (click)="isCreatingCarrier.set(false)">Cancel</link-button>
        <link-button (click)="isCreatingCarrier.set(false)">Save</link-button>
      </div>

    </div>
  </app-panel-outlined>

<div
  *ngIf="!isCreatingCarrier()"
  class="border border-gray-300 border-solid px-3 py-4 rounded-lg flex items-center justify-between w-3/4">
  <p class="text-sm font-medium">Carrier</p>

  <mat-form-field appearance="outline" class="w-80 h-12"  >
      <mat-label>Select a Carrier</mat-label>
      <mat-select>
        <form class="text-xs p-2">
          <input
            type="text"
            placeholder="Search Carrier"
            (click)="$event.stopPropagation()"
            class="outline outline-1 outline-black p-2 w-full text-base rounded-sm bg-transparent"
          />
        </form>
        <mat-option value="option1">DAYLIGHT TRANSPORT, LLC</mat-option>
        <mat-option value="option2"><link-button text="New Carrier" (click)="isCreatingCarrier.set(true)"></link-button></mat-option>
      </mat-select>
  </mat-form-field>
 
</div>

<!-- Customer Creation Panel -->
<app-panel-outlined *ngIf="isCreatingCustomer()">
  <div class="p-2">
    
    <p class="text-sm font-medium mb-4  ">Customer</p>

    <div class="grid grid-cols-3 gap-8">
      <app-input label="Customer Code" hint="*Required"></app-input>
      <app-input label="Company Name" hint="*Required"></app-input>
      <div>
        <div class="text-xs font-medium">Customer Type</div>
        <mat-checkbox class="mr-2">Shipper</mat-checkbox>
        <mat-checkbox>Consignee</mat-checkbox>

      </div>

      <app-input label="Address" hint="New York, NY 11111"></app-input>
      <app-input label="Phone"></app-input>
      <app-input label="Fax"></app-input>

      <app-input label="Email Address"></app-input>
      <app-input label="Website"></app-input>
      <div></div>

      <app-input label="Sales Rep or Agent"></app-input>
      <app-input label="Sales Rep or Agen Email"></app-input>
      <div></div>
    </div>

    <div class="grid grid-cols-4 gap-8 mt-8">
      <app-panel-outlined class="col-span-3">
        <div class="p-2">
          <div class="flex justify-between items-center">
            <p class="text-sm font-medium">Claimant Information</p>
            <mat-checkbox>Same as Customer</mat-checkbox>
          </div>
        </div>
      </app-panel-outlined>
      
      <app-panel-outlined class="col-span-3">
        <div class="p-2">
          <p class="text-sm font-medium mb-4  ">Payee Information</p>
          <div class="grid grid-cols-2 gap-8">
            <app-input label="Payee Name"></app-input>
            <app-input label="Payee Address"  hint="New York, NY 11111"></app-input>
            <app-input label="Payee Email"></app-input>
          </div>
        </div>
      </app-panel-outlined>
    </div>

    

    <div class="flex justify-end">
      <link-button (click)="isCreatingCustomer.set(false)">Cancel</link-button>
      <link-button (click)="isCreatingCustomer.set(false)">Save</link-button>
    </div>

  </div>
</app-panel-outlined>

<div
  *ngIf="!isCreatingCustomer()"
  class="border border-gray-300 border-solid px-3 py-4 rounded-lg flex items-center justify-between w-3/4">
  <p class="text-sm font-medium">Customer</p>

  <mat-form-field appearance="outline" class="w-80 h-12"  >
        <mat-label>Select a Customer</mat-label>
        <mat-select>
          <form class="text-xs p-2">
            <input
              type="text"
              placeholder="Search Customer"
              (click)="$event.stopPropagation()"
              class="outline outline-1 outline-black p-2 w-full text-base rounded-sm bg-transparent"
            />
          </form>
          <mat-option value="option1">DAYLIGHT TRANSPORT, LLC</mat-option>
          <mat-option value="option2"><link-button text="New Customer" (click)="isCreatingCustomer.set(true)"></link-button></mat-option>
        </mat-select>
    </mat-form-field>
 
</div>


<div
  class="border border-gray-300 border-solid px-3 py-4 rounded-lg flex items-center justify-between w-3/4">
  <p class="text-sm font-medium">Shipper</p>

  <mat-form-field appearance="outline" class="w-80 h-12"  >
        <mat-label>Select a Shipper</mat-label>
        <mat-select>
          <form class="text-xs p-2">
            <input
              type="text"
              placeholder="Search Shipper"
              (click)="$event.stopPropagation()"
              class="outline outline-1 outline-black p-2 w-full text-base rounded-sm bg-transparent"
            />
          </form>
          <mat-option value="option1">DAYLIGHT TRANSPORT, LLC</mat-option>
          <mat-option value="option2"><link-button text="New Shipper"></link-button></mat-option>
        </mat-select>
    </mat-form-field>
 
</div>


<div
  class="border border-gray-300 border-solid px-3 py-4 rounded-lg flex items-center justify-between w-3/4">
  <p class="text-sm font-medium">Consignee</p>

  <mat-form-field appearance="outline" class="w-80 h-12"  >
        <mat-label>Select a Consignee</mat-label>
        <mat-select>
          <form class="text-xs p-2">
            <input
              type="text"
              placeholder="Search Consignee"
              (click)="$event.stopPropagation()"
              class="outline outline-1 outline-black p-2 w-full text-base rounded-sm bg-transparent"
            />
          </form>
          <mat-option value="option1">DAYLIGHT TRANSPORT, LLC</mat-option>
          <mat-option value="option2"><link-button text="New Consignee"></link-button></mat-option>
        </mat-select>
    </mat-form-field>
 
</div>


<div
  class="border border-gray-300 border-solid px-3 py-4 rounded-lg flex items-center justify-between w-3/4">
  <p class="text-sm font-medium">Insurance</p>

  <mat-form-field appearance="outline" class="w-80 h-12"  >
        <mat-label>Select a Insurance</mat-label>
        <mat-select>
          <form class="text-xs p-2">
            <input
              type="text"
              placeholder="Search Insurance"
              (click)="$event.stopPropagation()"
              class="outline outline-1 outline-black p-2 w-full text-base rounded-sm bg-transparent"
            />
          </form>
          <mat-option value="option1">DAYLIGHT TRANSPORT, LLC</mat-option>
          <mat-option value="option2"><link-button text="New Insurance"></link-button></mat-option>
        </mat-select>
    </mat-form-field>
 
</div>

</div>