<table mat-table [dataSource]="dataSource" matSort class="full-width">

    <!-- ID Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Primary Identifier </th>
      <td mat-cell *matCellDef="let row" class="align-text-top">
        <div>
          <div class="text-green-700 font-medium"><a routerLink="/new-ui/claims/claims-view">{{row.id}}</a></div>
          <div class="flex items-center gap-1">
            <div class="bg-indigo-200 rounded-full p-1"> <img src="assets/new-ui-icons/Outstanding_tasks.svg" class="w-3" alt="Email icon"></div>
            <div class="bg-indigo-200 rounded-full p-1"><img src="assets/new-ui-icons/New_documents.svg"  class="w-3" alt="Document icon"></div>
            <div class="bg-indigo-200 rounded-full p-1"><img src="assets/new-ui-icons/New_comments.svg"   class="w-3" alt="Comments icon"></div>
          </div>
        </div>

      </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Customer </th>
      <td mat-cell *matCellDef="let row" matLine="1" class="align-text-top"> <div class="dots" style="width: calc(100vw * 0.1);"> {{row.customer}} </div></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="carrier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Carrier </th>
      <td mat-cell *matCellDef="let row" class="align-text-top"> <div class="dots" style="width: calc(100vw * 0.1);"> {{row.carrier}}</div> </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Amount </th>
      <td mat-cell *matCellDef="let row" class="align-text-top"> ${{row.amount | number}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Created </th>
      <td mat-cell *matCellDef="let row" class="align-text-top">
        <div>
          <div> {{row.created}} </div>
          <div class="text-xs text-gray-400">3 hours ago</div>
        </div>
          <!-- <div>
          4 days ago
        </div> -->
      </td>
    </ng-container>

     <!-- Color Column -->
     <ng-container matColumnDef="lastUpdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Last Update </th>
      <td mat-cell *matCellDef="let row" class="align-text-top" > 
        <div>
          <div> {{row.lastUpdate}} </div>
          <div class="text-xs text-gray-400">3 hours ago</div>
        </div>
        <!-- <div class="text-xs">
          3 hours ago
        </div> -->
      </td>
    </ng-container>

     <!-- Color Column -->
     <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Status </th>
      <td mat-cell *matCellDef="let row" class="align-text-top" >
        <div class="flex flex-row">
          <!-- 'In Progress','Filed with Carrier','Waiting on Invoice','Filed with Insurance' -->
          <mat-icon class="text-sm pr-0 text-center"
            [ngClass]="{
                  'text-green-200': row.status==='In Progress',
                  'text-indigo-200': row.status==='Filed with Carrier',
                  'text-red-200': row.status==='Waiting on Invoice',
                  'text-blue-200': row.status==='Filed with Insurance',
                }" >brightness_1</mat-icon>
          <div>
            <div class="w-24 dots"> {{row.status}} </div>
            <div class="text-xs text-gray-400">Since 12/08/23</div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"></th>
      <td mat-cell *matCellDef="let row" class=""> 
        <a class="cursor-pointer block" [matMenuTriggerFor]="actionsMenu"><mat-icon>more_vert</mat-icon></a>
        <!-- <button mat-button [matMenuTriggerFor]="actionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button> -->
        <mat-menu #actionsMenu="matMenu">
          <button mat-menu-item>View Claim Form</button>
          <button mat-menu-item>View Tasks</button>
          <button mat-menu-item>View Documents</button>
          <button mat-menu-item>Add Document</button>
          <button mat-menu-item>Update Status</button>
          <button mat-menu-item>View Audit Log</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter </td>
    </tr>
  </table>