
<div class="p-6 w-[700px]">
  <h2 class="text-2xl mb-6">New Product</h2>
  <div class="grid grid-cols-2 gap-8 gap-y-6 mb-8 ">
    <app-input label="Product Name" placeholder="Widget" class=""></app-input>
    <app-input label="Commodity Code" placeholder="12345" class=""></app-input>
    <app-input label="Cost Per Unit" placeholder="$13" class=""></app-input>
    <div class="w-80 flex gap-2">
      <app-input label="Weight" placeholder="25" class="w-70  flex-1"></app-input>
      <mat-form-field appearance="outline" class="w-10 flex-1 mr-2">
        <mat-select value="option1">
          <mat-option value="option1">LBS</mat-option>
          <mat-option value="option2">KLS</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
    <div class="flex justify-end gap-1 mt-2">
      <link-button text="Cancel" [mat-dialog-close]></link-button>
      <link-button text="Create" [mat-dialog-close]="true"></link-button>
    </div>
  </div>
