<div class="p-6">

    <h2 class="text-2xl mb-6">Invite User</h2>

    <div class="flex gap-2 w-[680px]">
        
        <app-input label="Email Address" class="w-[450px]"></app-input>

        <app-select label="User Role" [options]="[{text:'Restricted User', value:'1'}, {text:'Admin', value:'2'}, {text:'Super Power', value:'3'}]"></app-select>
        <!-- <mat-form-field appearance="outline" >
            <mat-label class="text-sm text-black">User Role</mat-label>
            <mat-select>
              <mat-option value="option1">Restricted User</mat-option>
              <mat-option value="option2">Admin</mat-option>
              <mat-option value="option3">Super Power</mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
    <div class="flex justify-end gap-2">
        <link-button text="Cancel" [mat-dialog-close]></link-button>
        <link-button text="Send Invite" [mat-dialog-close]="true"></link-button>
    </div>

</div>
