$primary : #126b56;
$secondary-color : #cee9dd;
$background : #f2f4f3;
$background-1: #cee9dd;
$background-2: #cce8e8;
$background-3: #eff5f1;
$background-4: #dbe5df;
$background-5: #e6e9e8;
$background-6: #dae4e4;
$background-scondary : #eceeee;
$background-mat-menu:#f5fbf6; 
$danger : #ba1a1a;
$success : #469c4a;
$dark : #000000;

$newui-text-secondary: white;
