<div class="flex justify-between items-center">

    <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" [checked]="checked" class="sr-only peer">
        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-800"></div>
        <p class="ms-3 text-md font-medium truncate text-base dots ...">{{text}}</p>
    </label>
    
    <div class="flex h-11 justify-end">
        <button mat-icon-button *ngIf="showEditButtons"> <mat-icon>edit</mat-icon></button>
        <button mat-icon-button *ngIf="showEditButtons"> <mat-icon>delete</mat-icon></button>
        
        <mat-form-field  appearance="outline" class="scale-[0.6] translate-x-5 w-28 rounded-lg" *ngIf="showColorSelect">
            <mat-select [(value)]="selectedColor">
                <mat-select-trigger>
                    <mat-icon class="text-xl pr-0 {{selectedColor}}">brightness_1</mat-icon>
                  </mat-select-trigger>
                <mat-option value="text-green-200" selected >
                    <mat-icon class="text-sm pr-0 text-center text-green-200">brightness_1</mat-icon>
                </mat-option>
                <mat-option value="text-purple-200"  >
                    <mat-icon class="text-sm pr-0 text-center text-purple-200">brightness_1</mat-icon>
                </mat-option>
                <mat-option value="text-red-300"  >
                    <mat-icon class="text-sm pr-0 text-center text-red-300">brightness_1</mat-icon>
                </mat-option>
                <mat-option value="text-blue-300"  >
                    <mat-icon class="text-sm pr-0 text-center text-blue-300">brightness_1</mat-icon>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>