<div class="grid grid-cols-2 ml-6 mr-6 gap-4 pt-4 pb-6">
    <claims-settings-sub-card title="Short Paid" newSubButton="New Sub-Reason" [files]="['Example Sub-Statusasdasdasdasdasdasda','Example Sub-Status']"></claims-settings-sub-card>
    <claims-settings-sub-card title="Paid in Full" newSubButton="New Sub-Reason" [files]="['Example Sub-Status','Example Sub-Status','Example Sub-Status','Example Sub-Status']"></claims-settings-sub-card>
    <claims-settings-sub-card title="Clear Delivery" newSubButton="New Sub-Reason" [files]="['Example Sub-Status','Example Sub-Status']"></claims-settings-sub-card>
    <claims-settings-sub-card title="Cancelled" newSubButton="New Sub-Reason" [files]="['Example Sub-Status','Example Sub-Status','Example Sub-Status','Example Sub-Status']"></claims-settings-sub-card>
    <claims-settings-sub-card title="Freight Delivered" newSubButton="New Sub-Reason" [files]="['Example Sub-Status','Example Sub-Status','Example Sub-Status','Example Sub-Status','Example Sub-Status']"></claims-settings-sub-card>
</div>